@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&display=swap');

.container-input {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.boxName, .boxBirthdate, .boxMood {
    display: flex;
    justify-content:space-between; 
    gap: 20px;
    padding: 15px;
}

.textInput{  
    font-family: 'Merienda';
    color: var(--whiteText);
    font-size: 24px;
} 

label{
    color: white;
}

input{
    width:138px;
    display: flex;
    justify-content: space-between;
}

.input-form{
    border-radius: 15px;
    height: 46px;
    padding: 10px;
}

textarea{
    width: 138px;
    height: 120px;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

p{
    color: white;
}

.button-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (min-width: 1024px) {

    .container-input{
        display: flex;
        flex-direction: column;
     }

     input{
        width:220px;
    }

    textarea{
        width: 220px;
        height: 100px;
    }
    .boxName, .boxBirthdate, .boxMood {
        padding: 10px;
        margin: 15px 0 0 0;
    }
    
}