.text-position {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -180px;
}

.text-box {
padding: 0;
border:2px solid var(--yellowText);
display: flex;
justify-content: center;
align-items: center;
width: 350px;
height: 135px;
}

.welcome-text {
font-family: 'Open Sans', sans-serif;
color: var(--whiteText);
text-align: center;
margin: 20px;
}

@media screen and (min-width: 1024px) {
    .text-box {
      width: 520px;
      height: 350px;
      margin: 400px 500px 0 0;
    }

    .welcome-text {
        text-align: center;
        margin: 20px;
        font-size: 30px;
        }
  }; 
 