.text-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
padding: 0;
border: 1.5px solid var(--yellowText);
display: flex;
justify-content: center;
align-items: center;
width: 350px;
height: 135px;
position: absolute;
top: 20%;
}

.welcome-text {
font-family: 'Open Sans', sans-serif;
color: var(--whiteText);
text-align: center;
margin: 20px;
}

@media screen and (min-width: 1024px) {
  .text-box {
    width: 520px;
    height: 350px;
    position: absolute;
    top: 30%;
    left: 10%;
  }

  .welcome-text {
      text-align: center;
      margin: 20px;
      font-size: 30px;
      font-weight: 500;
      }
}; 
