.title {
color: var(--whiteText);
font-family: 'Merienda', sans-serif;
font-weight: bold;
display: flex;
justify-content: center;
font-size: 18px;
margin-top: 40px;
}

.api-card{ 
width: 170px;
height: auto;
position: absolute;
left: 20%;
margin: 5px 0 10px 0;
}

@media screen and (min-width: 1024px) {
    .title {
      position: absolute;
      top: 5%;
      left: 10%;
    }

    .api-card {
    width: 210px;
    height: auto;
    position: absolute;
    left: 20%;
    top: 15%;
    margin: 5px 0 10px 0;
       
        
        }
  }; 