.savings-container {
    color: var(--whiteText);
    font-family: 'Merienda', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.title {
    font-size: 30px;
    position: absolute;
    top: 15%; 
}

 .date {
    position: absolute;
    top: 28.5%;
    left: 45%;
    font-size: 22px;
}

.api-card {
    position: absolute;
    width: 102px;
    height: auto;
    top: 28%;
    left: 10%;
 }

.custom-apitext {
    position: absolute;
    top: 29%;
    left: 32%;
    width: 175px;
    height: 170px;
    font-size: 16px;
}

