body {
    overflow: hidden;
}

.apitext-position {
    display: flex;
    justify-content: center;
}

.apitext-box {
padding: 0;
border: 1.5px solid var(--decoration);
display: flex;
justify-content: center;
align-items: center;
width: 310px;
height: 165px;
position: absolute;
top: 55%;
}

.api-text {
font-family: 'Open Sans', sans-serif;
color: var(--whiteText);
text-align: center;
margin: 20px;
}

@media screen and (min-width: 1024px) {
    .apitext-box {
      display: flex;
      justify-content: center;
      width: 250px;
      height: 270px;
      position: absolute;
      top: 30%;
      left: 55%;
    }

    .api-text {
        text-align: center;
        margin: 20px;
        font-size: 15px;
        }
  }; 
  