.savings-container {
    color: var(--whiteText);
    font-family: 'Merienda', sans-serif;
    display: flex;
    flex-direction: column;
    
}

.title {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.reading {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.api-card {
    width: 102px;
    height: auto;
    display:flex;
    margin-right: 40px;
 }


.mood-data {
    display: flex;
    flex-direction: column;
    align-items: center;


}
