.savings-container {
    color: var(--whiteText);
    font-family: 'Merienda', sans-serif;
    display: flex;
    flex-direction: column;
}

.title-saved {
    font-size: 30px;
    display: flex;
    background: linear-gradient(to right, #FFA746, #DA1010);
    justify-content: center;
    margin-top: 50px;
}

.saved-reading {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

.api-card {
    width: 102px;
    height: auto;
    display:flex;
    margin-right: 40px;
 }

 .info-reading {
    width: 20px;
 }