.staticCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chooseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
